body {
  font-family: "Montserrat";
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.delete-form {
  display: inline;
}

.h1 {
  size: 30px;
  text-align: center;
  margin: 40px;
}

.form-delete {
  margin: 20px;
}

.login__form {
  margin: 20px;
}

.login__p {
  text-align: center;
}

.qrnew__h3 {
  margin-left: 20px;
  margin-right: 20px;
}

.form-container {
  margin-left: 20px;
  margin-right: 20px;
}

.qrcode {
  display: block;
  margin: auto;
}

.qrcode__a {
  margin-top: 15px;
  text-align: center;
}

.header {
  background-color: #cce6ff;
}

.landing__a {
  text-decoration: none;
  color: inherit;
}
.landing__a:hover {
  text-decoration: none;
  color: inherit;
}
