<% include ../partials/header %>
	<div class="container">
		<header class="jumbotron">
			<div class="container">
				<h1>Productos de tu empresa</h1>
				<p>Aquí puedes observar y gestionar los productos que tienes en venta.</p>
			</div>
		</header>

		<% products.forEach(function(product){ %>
			<div class="row">
				<div class="col-md-12">
					<strong><%= product.pName %></strong>
					<p>
						<%= product.productType%> - $<%= product.price%>
					</p>
				</div>
			</div>
		<% }) %>

	</div>
	<% include ../partials/footer %>