<% include ../partials/header %>
    <div class="container">
        <div class="row">

            <h1 class="h3 qrnew__h3 text-center">Introduce la información para agregar un producto a su portafolio</h1>

            <div class="form-container">
                <form action="/product" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="pName" required placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="productType" required placeholder="Tipo de producto">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="precio" placeholder="Precio">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Agregar!</button>
                    </div>
                </form>
                <a href="/landing">Regresar</a>
            </div>

        </div>

    </div>
    <% include ../partials/footer %>