<% include ../partials/header %>
    <div class="container">
        <div class="row">

            <h1 class="text-center">Introduce la información para agregar un producto a su portafolio</h1>

            <div style="width: 30%; margin: 25px auto;">
                <form action="/product" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="pName" required placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="productType" required placeholder="Tipo de producto">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="precio" placeholder="Precio">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Generar!</button>
                    </div>
                </form>
                <a href="/qrcode">Back</a>
            </div>

        </div>

    </div>
    <% include ../partials/footer %>