<% include partials/header %>

    <h1>Tobby QR Payment</h1>

    <p>Bienvenido al servicio Tobby QR Payment. Inicia sesión o regístrate para continuar</p>

    <a href="/login">Iniciar sesión</a>
    <a href="/register">Registrarse</a>

    <% include partials/footer %>