<% include ./partials/header %>

	<h1>Welcome!</h1>
	
	<p>
		<a href="/qr/new">Create a new QR!</a>
	</p>

	<p>
		<a href="/product/new">Add a product to your portfolio</a>
	</p>

        <% include ./partials/footer %>