<% include ./partials/header %>

    <h1>Log in!</h1>

    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Usuario">
        <input type="password" name="password" placeholder="Contraseña">
        <input type="submit" value="Log In">
    </form>

    <p>No tienes cuenta? <a href="register">Registrate aquí</a>>/p>

        <% include ./partials/footer %>