<% include ./partials/header %>

	<h1>Sign Up!</h1>

	<form action="/register" method="POST">
		<input type="text" name="name" placeholder="Nombre de la Empresa">
		<input type="text" name="username" placeholder="Usuario">
		<input type="password" name="password" placeholder="Contraseña">
		<input type="text" name="clabe" placeholder="Clabe">
		<div class="form-group">
			<label for="account_type">Tipo de cuenta</label>
			<select class="form-control" id="account_type">
				<option>TC (Tarjeta de Credito)</option>
				<option>CL (CLABE interbancaria)</option>
			</select>
		</div>
		<button>Registarse</button>
	</form>

	<% include ./partials/footer %>