<% include ./partials/header %>

	<h1>Sign Up!</h1>

	<form action="/register" method="POST">
		<input type="text" name="name" placeholder="Nombre de la Empresa">
		<input type="text" name="username" placeholder="Usuario">
		<input type="password" name="password" placeholder="Contraseña">
		<input type="text" name="clabe" placeholder="Clabe">
		<input type="text" name="account_type" placeholder="Tipo de Cuenta">
		<button>Registarse</button>
	</form>

	<% include ./partials/footer %>