<% include ../partials/header %>

    <div class="container">
        <img class="qrcode" src="<%= url%>">
        <a class="qrcode__a" href="/landing">Regresar</a>
    </div>

    <% include ../partials/footer %>